<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
<!-- 		<typeAlias type="semi.proj.PfF.board.model.vo.Board" alias="Board"/> -->
		<typeAlias type="semi.proj.PfF.member.model.vo.Member" alias="Member"/>
		<typeAlias type="semi.proj.PfF.member.model.vo.KakaoMember" alias="KakaoMember"/>
		<typeAlias type="semi.proj.PfF.product.model.vo.Product" alias="Product"/>
		<typeAlias type="semi.proj.PfF.order.model.vo.Order" alias="Order"/>
		<typeAlias type="semi.proj.PfF.order.model.vo.OrderProduct" alias="OrderProduct"/>
		<typeAlias type="semi.proj.PfF.order.model.vo.Coupon" alias="Coupon"/>
		<typeAlias type="semi.proj.PfF.cart.model.vo.Cart" alias="Cart"/>
		<typeAlias type="semi.proj.PfF.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="semi.proj.PfF.qa.model.vo.Qa" alias="Qa"/>
		<typeAlias type="semi.proj.PfF.product.model.vo.Product" alias="productResultSet" />
		<typeAlias type="semi.proj.PfF.common.model.vo.Picture" alias="Picture"/>
		<typeAlias type="semi.proj.PfF.review.model.vo.Review" alias="Review"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/cart-mapper.xml"/>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/product-mapper.xml"/>
		<mapper resource="mappers/administrator-mapper.xml"/>
		<mapper resource="mappers/order-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/qa-mapper.xml"/>
		<mapper resource="mappers/review-mapper.xml"/>
	</mappers>
</configuration>
