<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">
	<resultMap type="Product" id="productResultSet">
		<id column="product_No" property="productNo"/>
		<result column="PRODUCT_NAME" property="productName"/>
		<result column="PRODUCT_PRICE" property="productPrice"/>
		<result column="REGISTERATION_DATE" property="resisterationDate"/>
		<result column="DISCOUNT_RATE" property="discountRate"/>
		<result column="PRODUCT_INFO" property="productInfo"/>
		<result column="PRODUCT_TYPE" property="productType"/>
		<result column="PRODUCT_TYPE_2" property="productType2"/>
		<result column="PRODUCT_MAINPIC" property="productMainPic"/>
		<result column="PRODUCT_DETAILPIC1" property="productDetailPic1"/>
		<result column="PRODUCT_DETAILPIC2" property="productDetailPic2"/>
		<result column="PRODUCT_DETAILPIC3" property="productDetailPic3"/>
		<result column="PRODUCT_STATUS" property="productStatus"/>
	</resultMap>
	
	<select id="selectCountPrList" resultType="_int">
		select count(*) from product where product_status = 'Y' and product_type = #{productType}
	</select>
	<select id="selectCountPr2List" resultType="_int">
		select count(*) from product where product_status = 'Y' and product_type = #{productType} and product_type_2 = #{productType2}
	</select>
	
	<select id="selectPrList" resultMap="productResultSet">
		select * from product where product_status = 'Y' and product_type = #{productType}
		order by REGISTERATION_DATE desc
	</select>
	<select id="selectPr2List" resultMap="productResultSet">
		select * from product where product_status = 'Y' and product_type = #{productType} and product_type_2 = #{productType2}
		order by REGISTERATION_DATE desc
	</select>
	
	<select id="selectType2" resultType="String">
		select distinct PRODUCT_TYPE_2 from product where product_type = #{productType}
	</select>
	
	<select id="productDetail" resultMap="productResultSet">
		select *
		from product
		where product_no = #{productNo} and product_status='Y'
	</select>
	
<select id="productList" resultMap="productResultSet">
	select *
	from product 
	where product_status='Y'
</select>


	
</mapper>
